bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches

# Ignore JetBrains Rider specific files
.idea/
*.sln.iml

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore Rider workspace files
.idea/
.idea_modules/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf/
.idea/**/vcs.xml

# Ignore logs and temporary files
*.log
*.tmp
*.temp

# Ignore Docker-related files
docker-compose.override.yml
.env

# Ignore other unnecessary files
*.dbmdl
*.jfm
*.lock.json
*.pdb
*.cache
*.vs/
*.vscode/
*.DS_Store
*.swp